@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow-x: hidden;
}

header {
    background-color: #1e1e49;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

#logo {
    height: 3.5rem;
    margin: 0;
    padding: 0;
    padding-top: .4rem;
    position: relative;
    right: 20%;
}




nav {
    box-sizing: border-box;
    opacity: 0.95;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1e1e49;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.8rem;
}

.toggle {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 3.5rem;
    padding: .5rem;
    cursor: pointer;
}

.header-contents {
    display: flex;
    padding: 0;
    padding: 5rem;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.header-heading {
    padding: 0;
    padding-top: 5rem;
    width: 50%;
}

.header-img {
    height: 38rem;
    margin: 0;
    width: 100%;
    border-radius: .5rem;
}

h1 {
    margin-right: 20px;
    font-size: 5.2rem;
    color: #d5e5ef;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 3rem;
    font-family: 'Roboto', sans-serif;
    padding: .5rem;
}

.nav-links li a {
    color: #a5b4bd;
    text-decoration: none;
    padding: 10px;
    font-size: .85rem;
}

.nav-links li a:hover {
    border-bottom: 2px solid #9abb50;
    color: #fff;
}

/*SECTIONS*/

section {
    padding: 1.5rem;
    color: #1e1e49;
    text-align: center;
    justify-content: center;
    height: 120vh;
}

/*About section*/

#about {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    width: 50%;
    background-color: #ea9423;
    text-align: center;
    margin: 0;
    border-radius: .5rem;
    padding: 2rem;
    margin: 4rem auto;
}

.about-container img {
    animation: bob 2s ease-in-out infinite;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

h2 {
    font-size: 2.1rem;
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
}

p {
    padding: 1.5rem;
    line-height: 2;
}

/*services section*/

#services {
    background-color: #d5e5ef;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    padding-top: 3rem;
}

.col img {
    height: 9rem;
}

.col img:hover {
    animation: bob 1s ease-in-out;
    transition: 0.6s;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    /* two rows, automatically sized */
    grid-template-columns: 1fr 1fr;
    /* two equal-sized columns */
    gap: 10px;
    /* the gap between grid items, adjust as needed */
}

.top-row {
    grid-row: 1;
    /* place inside the first row */
    grid-column: 1 / span 2;
    /* span 2 columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* two equal-sized columns */
    gap: 10px;
    /* the gap between grid items, adjust as needed */
}

.bottom-row {
    grid-row: 2;
    /* place inside the second row */
    grid-column: 1 / span 2;
    /* span 2 columns */
    width: 50%;
    margin: auto;
}

.col {
    padding: 10px;
}


/*features section*/

#features {
    background-color: #ffffff;

}

.feature-items {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.item:hover svg {

    fill: #9abb50;
    transform: translateY(80%);
    transition: 0.4s;
}

.item:hover h3 {
    transform: translateY(-120%);
    transition: 0.4s;
}

.item svg {
    fill: #ea9423;
    font-size: 7rem;
    padding: 1rem;
}

.item p {
    margin: 0;
    margin-top: 2rem;
}


/*testimonial section*/


#testimonials {
    background-color: #1e1e49;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#testimonials h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 4.5rem;
}

.testimonial-cards {
    display: flex;
    margin: 0;
    flex-direction: row;
}

.testimonial-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 5rem;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 33rem;
}


.testimonial-card img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

.testimonial-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #1e1e49;
}

.testimonial-card p {
    color: black;
    text-align: left;
}

.test-span {
    color: #ea9423;
    display: flex;
    font-size: 1rem;
}

/*Contact section*/

#contact {
    background-color: #ea9423;
    color: #fff;
}

#contact h2 {
    margin-bottom: 5.5rem;
}

.contact-items {
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-size: 3rem;
    height: 30rem;
}

.contact-items div {
    width: 50%;
}

#contact img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    border-radius: 1rem;
}

form {
    width: 35%;
    font-size: 1rem;
    background-color: #ea9423;

}

#message {
    padding-top: 1.5rem;
    height: 30%;
    line-height: 2.5;
}

label {
    display: block;
    margin-top: 1rem;
    font-size: inherit;
    text-align: left;
}

.aster {
    color: red;

}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #1e1e49;
    background-color: inherit;

}

textarea:focus {
    outline: none;
}

input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: inherit;
    background-color: inherit;
}

button {
    margin: 1rem;
    height: 2.5rem;
    font-size: .85rem;
    color: #ffffff;
    width: 4rem;
    border-radius: 1rem;
    background-color: #9abb50;
}

button:hover {
    background-color: #1e1e49;
    color: #d5e5ef;
}

/*Footer*/

footer {
    background-color: #d5e5ef;
}

.footer-container {
    margin: 0 auto;
    text-align: center;
}

.footer-container p {
    color: #1e1e49;
    font-size: .85rem;
    margin: 0;
    padding: 0;
}

span {
    font-size: 1.5rem;
}

/*Media Queries*/
@media screen and (min-width: 1094px) and (max-width: 1297px) {


    #logo {
        height: 3.5rem;
        margin: 0;
        position: relative;
        right: 20%;
    }

    .header-heading {
        padding: 0;
        padding-top: 5rem;
        width: 50%;
    }

    h1 {
        margin-right: 20px;
        font-size: 3.2rem;
        color: #d5e5ef;
        font-family: 'Poppins', sans-serif;
    }

    section {
        padding: 1.1rem;
        height: 75vh;
    }

    h2 {
        font-size: 1.9rem;
        margin: 1.5rem;
    }

    .header-img {
        height: 22rem;
        margin: 0;
        width: 100%;
        border-radius: .5rem;
    }

    #services {
        height: 98vh;
    }

    .col img {
        height: 7rem;
    }

    #features {
        background-color: #ffffff;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .item svg {
        font-size: 7.8rem;
    }

    .testimonial-card {
        padding: 9px;
        text-align: center;
        width: 250px;
        height: 22rem;
        margin: 0 2rem;
    }

    .testimonial-card img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .testimonial-card h3 {
        font-size: 1.1rem;
    }

    .testimonial-card p {
        color: black;
        text-align: justify;
        font-size: .75rem;
    }

    .test-span {
        color: #ea9423;
        display: flex;
        font-size: .85rem;
    }

    .contact-items {
        height: 22rem;
    }

    button {
        margin: 1rem;
        height: 3rem;
        font-size: .7rem;
        width: 5rem;
    }

    form {
        font-size: .95rem;
    }

    span {
        font-size: 1.2rem;
    }

    p {
        padding: 1rem;
        font-size: .85rem;
        line-height: 1.8;
    }

    .footer-container p {
        font-size: .75rem;
    }
}

@media screen and (min-width: 752px) and (max-width: 1094px) {
    header {
        padding: 0;
        padding-top: 1rem;
    }

    nav {
        padding-right: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: self-start;
        height: 3.2rem;
    }

    .nav-links li a:hover {
        border-bottom: 1.5px solid #9abb50;
        color: #fff;
    }

    .toggle {
        display: flex;
        fill: #9abb50;
        height: 2.5rem;
    }

    .nav-links li a {
        padding: .5rem;
        font-size: .85;
    }

    .sect-nav {
        text-align: center;
        align-items: center;
        flex-direction: column;
        display: none;
        width: 50%;
        margin: auto;
        height: 100%;
        padding: .85rem;

    }

    li {
        padding: 1.25rem 0;
    }

    .sect-btn {
        font-size: .7rem;
    }

    .sect-nav.on {
        display: flex;
    }

    .header-contents {
        padding: 2.25rem;
    }

    #logo {
        height: 2.8rem;
        margin: 0;
        position: absolute;
        right: 90%;
    }

    .header-heading {
        padding: 0;
        padding-top: 5rem;
        width: 50%;
    }

    h1 {
        margin-right: 20px;
        font-size: 2.8rem;
        color: #d5e5ef;
    }

    section {
        padding: 1.1rem;
        height: 90vh;
    }

    h2 {
        font-size: 1.4rem;
        margin: 1.5rem;
    }

    p {
        padding: 1rem;
        font-size: .7rem;
        line-height: 1.8;
    }

    .header-img {
        height: 15rem;
        margin: 0;
        width: 100%;
        border-radius: .5rem;
    }

    #services {
        height: 119vh;
    }

    .col img {
        height: 5.8rem;
    }

    #features {
        background-color: #ffffff;
    }

    #features h2 {
        margin: .5rem;

    }

    .item {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .item svg {
        font-size: 3.8rem;
    }

    #testimonials h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 4rem;
    }

    .testimonial-card {
        padding: 9px;
        text-align: center;
        width: 190px;
        height: 19rem;
        margin: 0 2rem;
    }

    .testimonial-card img {
        border-radius: 50%;
        height: 65px;
        width: 65px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .testimonial-card h3 {
        font-size: .8rem;
    }

    .testimonial-card p {
        color: black;
        text-align: justify;
        font-size: .55rem;
    }

    .test-span {
        color: #ea9423;
        display: flex;
        font-size: .7rem;
    }
    
    #contact img {
        height: 70%;
        width: 90%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .contact-items {
        height: 20rem;
    }

    form {
        font-size: .7rem;
        height: 70%;
    }

    button {
        margin: 1rem;
        height: 2.5rem;
        font-size: .7rem;
        width: 4rem;
    }

    span {
        font-size: .8rem;
    }



    .footer-container p {
        font-size: .75rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 752px) {
    header {
        padding: 0;
        padding-top: 1rem;
    }

    nav {
        padding-right: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: self-start;
        height: 3.2rem;
    }

    .toggle {
        display: flex;
        fill: #9abb50;
        height: 1.9rem;
    }

    .sect-nav {
        text-align: center;
        align-items: center;
        flex-direction: column;
        display: none;
        width: 50%;
        margin: auto;
        height: 100%;
        padding: .85rem;

    }

    li {
        padding: 1.25rem 0;
    }

    .nav-links li a {
        padding: .2rem;
        font-size: .62rem;
    }

    .nav-links li a:hover {
        border-bottom: 1px solid #9abb50;
    }

    .sect-nav.on {
        display: flex;
    }

    .header-contents {
        padding: 2.25rem;
    }

    #logo {
        height: 2.1rem;
        margin: 0;
        position: absolute;
        right: 90%;
    }

    .header-heading {
        padding: 0;
        padding-top: 5rem;
        width: 50%;
    }

    h1 {
        margin-right: 20px;
        font-size: 2rem;
        color: #d5e5ef;
    }

    section {
        padding: 1.1rem;
        height: 60vh;
    }

    h2 {
        font-size: .85rem;
        margin: .4rem;
    }

    p {
        padding: .6rem;
        font-size: .57rem;
        line-height: 1.8;
    }

    .header-img {
        height: 12.5rem;
        margin: 0;
        width: 100%;
        border-radius: .5rem;
    }

    .about-container {
        height: 65%;
        padding: .5rem;
        width: 65%;
    }

    .about-container img {
        height: 1rem;
    }

    #services {
        padding: 1.2rem;
        height: 68vh;
    }

    .col img {
        height: 3rem;
    }

    .grid-container {
        gap: 5px;
        width: 80%;
    }

    #features {
        background-color: #ffffff;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .item svg {
        font-size: 3.2rem;
    }

    #testimonials h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }

    #features h3 {
        font-size: .68rem;
    }

    .item {
        padding: .5rem;
        margin: 0;
    }

    .item p {
        margin-top: .4rem;
    }

    .testimonial-card {
        padding: 9px;
        text-align: center;
        width: 10rem;
        height: 12.5rem;
        margin: 0 .8rem;
    }

    .testimonial-card img {
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-bottom: .2px;
        object-fit: cover;
    }

    .testimonial-card h3 {
        font-size: .5rem;
    }

    .testimonial-card p {
        color: black;
        text-align: justify;
        font-size: .45rem;
    }

    .test-span {
        color: #ea9423;
        display: flex;
        font-size: .41rem;
    }

    #contact h2 {
        margin-bottom: 2.1rem;
    }

    #contact img {
        height: 70%;
        width: 90%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .contact-items {
        height: 18rem;
    }

    form {
        font-size: .6rem;
        height: 70%;
    }

    button {
        margin: 1rem;
        height: 1.5rem;
        font-size: .45rem;
        width: 2.6rem;
    }

    span {
        font-size: .62rem;
    }



    .footer-container p {
        font-size: .55rem;
        padding: .2rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 0;
        padding-top: 1rem;
    }

    nav {
        padding-right: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: self-start;
        height: 3.2rem;
    }

    .toggle {
        display: flex;
        fill: #9abb50;
        height: 1.9rem;
    }

    .sect-nav {
        text-align: center;
        align-items: center;
        flex-direction: column;
        display: none;
        width: 50%;
        margin: auto;
        height: 100%;
        padding: .85rem;

    }

    li {
        padding: 1.25rem 0;
    }

    .nav-links li a {
        padding: .2rem;
        font-size: .62rem;
    }

    .nav-links li a:hover {
        border-bottom: 1px solid #9abb50;
    }

    .sect-nav.on {
        display: flex;
    }

    .header-contents {
        padding: 2.25rem;
    }

    #logo {
        height: 2.1rem;
        margin: 0;
        position: absolute;
        right: 90%;
    }

    .header-heading {
        padding: 0;
        padding-top: 5rem;
        width: 50%;
    }

    h1 {
        margin-right: 20px;
        font-size: 1.1rem;
        color: #d5e5ef;
    }

    section {
        padding: 1.1rem;
        height: 40vh;
    }

    h2 {
        font-size: .65rem;
        margin: .4rem;
    }

    p {
        padding: .2rem;
        font-size: .45rem;
        line-height: 1.8;
    }

    .header-img {
        height: 8.5rem;
        margin: 0;
        width: 100%;
        border-radius: .5rem;
    }

    .about-container {
        height: 65%;
        padding: .5rem;
        width: 65%;
    }

    .about-container img {
        height: 1rem;
    }

    #services {
        padding: 1.2rem;
        height: 48vh;
    }

    .col img {
        height: 3rem;
    }

    .grid-container {
        gap: 5px;
        width: 80%;
    }

    #features {
        background-color: #ffffff;
    }

    .item {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .item svg {
        font-size: 3.2rem;
    }

    #testimonials h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }

    #features h3 {
        font-size: .55rem;
        margin-top: .1rem;

    }

    .item {
        padding: .5rem;
        margin: 0;
    }

    .item p {
        margin-top: .4rem;
    }

    .testimonial-card {
        padding: 9px;
        text-align: center;
        width: 6.5rem;
        height: 11.5rem;
        margin: 0 .4rem;
    }

    .testimonial-card img {
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-bottom: .2px;
        object-fit: cover;
    }

    .testimonial-card h3 {
        font-size: .35rem;
        margin-top: .1rem;
    }

    .testimonial-card p {
        color: black;
        text-align: justify;
        font-size: .42rem;
    }

    .test-span {
        color: #ea9423;
        display: flex;
        font-size: .39rem;
    }

    #contact {
        height: 40vh;
    }

    #contact h2 {
        margin-bottom: 2.1rem;
    }

    #contact img {
        height: 70%;
        width: 90%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .contact-items {
        height: 15rem;
        width: 100%;
    }

    form {
        font-size: .35rem;
        height: 60%;
    }

    button {
        margin: 1rem;
        height: .85rem;
        font-size: .35rem;
        width: 1.8rem;
    }

    span {
        font-size: .42rem;
    }



    .footer-container p {
        font-size: .35rem;
        padding: .2rem;
    }
}